<div class="btn-wrapper">
  <button mat-fab color="primary" (click)="addnews()">
    <mat-icon>add</mat-icon>
  </button>
  Add note
</div>

<!-- move notescard to noteslist -->
<!-- move to notes-card -->
<div class="list-wrapper">
  <div class="card">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> This is the expansion title </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>This is some long text that might be used in notes.</li>
      </ul>
    </mat-expansion-panel>
  </div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
</div>
