.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid #555;
}

.sidebar-category {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  background-color: lightcyan;
}

.mat-drawer {
  padding: 10px;
}

.categories-wrapper {
  display: flex !important;
  flex-direction: column !important;
  gap: 25px;
}

.mat-drawer-content {
  padding: 100px;
}
