<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="categories-wrapper">
      <div class="sidebar-category">
        <mat-icon>dashboard</mat-icon>
      </div>
      <div class="sidebar-category"></div>
      <div class="sidebar-category"></div>
      <div class="sidebar-category"></div>
      <div class="sidebar-category"></div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-notes-list></app-notes-list>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
