<div class="example-button-container">
  <button mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="list-wrapper">
  <div class="card">
    <!-- move notescard to noteslist -->
    <!-- move to notes-card -->
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> This is the expansion title </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>This is some long text that might be used in notes.</li>
      </ul>
    </mat-expansion-panel>
  </div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
</div>
